.title{
    text-align: center;
    background-color: rgb(123, 182, 216);
    color: aliceblue;
}

button{
    float: right;
    background-color: rgb(123, 182, 216);
    color: aliceblue;
}

.card-header{
    background-color: rgb(123, 182, 216);
    color: aliceblue;
}